*.cs linguist-language=C#

*.dll linguist-vendored
*.exe linguist-vendored

*.Designer.cs linguist-generated
*.g.cs linguist-generated

*.config linguist-vendored
*.resx linguist-vendored
*.json linguist-vendored
